# Exclude backup files
*.bak
*.clobbered
~*

# Exclude node_modules and openclaw-data
node_modules/**
openclaw-data/**

# Exclude project configs
.env
.env~
.gitignore
.gitignore~
compose.yml
searxng-settings.yml

# Exclude version control
.git/
.github/
.gitlab-ci.yml
.svn/