jupyterlab_myst
jupyterlab-git
jupyterlab-latex
jupyterlab-spreadsheet-editor
jupyter-archive
jupytext
oauthenticator

# installing all jupyter-ai models will cause
# a timeout on startup
jupyterlite-ai[jupyter]
git+https://github.com/hkphysics/jupyter-ai-jupyternaut.git@develop
git+https://github.com/hkphysics/jupyter-ai-magic-commands@develop
git+https://github.com/hkphysics/jupyter-ai-persona-manager@develop
jupyter-ai-router
jupyter-ai-tools
jupyter-ai-litellm
jupyterlab-magic-wand
jupyter-server-mcp
# This can causes freezes
jupyter-collaboration
lckr-jupyterlab-variableinspector
jupyterlab-code-formatter
isort
black
mystmd
pytest
matplotlib
pandas
polars
ipympl
# version with fixes
git+https://github.com/hkphysics/uniswappy.git
nb-clean
voila
#tensorboard
#jupyterlab-tensorboard-pro

langchain
langgraph
langsmith
langchain-ollama
langchain-openrouter
langclaw
langchain-community
deepagents
dotenv
nbstripout
ipywidgets
ipyleaflet
ipydatagrid
pymc
dask
ray
jupyterlab_iframe
graphifyy
jupyterlab-lsp
python-lsp-server[all]
jupyter-server-documents
icecream
bash_kernel
jupyter_ai_acp_client
zsh_jupyter_kernel
