jupyterlab_myst
jupyterlab-git
jupyterlab-latex
jupyterlab-spreadsheet-editor
jupyter-archive
jupytext
oauthenticator

# installing all jupyter-ai models will cause
# a timeout on startup
jupyterlite-ai[jupyter]
jupyter-ai-jupyternaut
jupyter-ai-magic-commands
jupyter-ai-router
jupyter-ai-persona-manager
jupyter-ai-tools
jupyter-ai-litellm
jupyter-server-mcp
# This can causes freezes
jupyter-collaboration
lckr-jupyterlab-variableinspector
jupyterlab-code-formatter
isort
black
mystmd
pytest
matplotlib
pandas
polars
ipympl
# version with fixes
git+https://github.com/hkphysics/uniswappy.git
nb-clean
voila
#tensorboard
#jupyterlab-tensorboard-pro
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

langchain
langgraph
langsmith
langchain-ollama
langchain-openrouter
langclaw
langchain-community
deepagents
dotenv
